<!DOCTYPE html>
<html>
<body>
.header { /*for index.html*/
  display: grid;
  background-color:red;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
.nav { /*for index.html*/
  display: grid;
  background-color:green;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
.body { /*for index.html*/
  display: grid;
  background-color:blue;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
.footer { /*for index.html*/
  display: grid;
  background-color:yellow;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
</body>
</html>
